h1 {
  color: red;
  background-color: yellow;
  font-size: 24px;
}
#abc {
  color: red;
  background-color: skyblue;
  font-size: 14px;
}
.xyz {
  color: green;
  background-color: pink;
  font-size: 18px;
}
p.xyz {
  color: blue;
  background-color: lightgray;
  font-size: 16px;
}
p > a {
  color: purple;
  background-color: lightgreen;
  font-size: 12px;
}
div a {
  color: red;
}
p,
h1 {
  color: orange;
}
input[type="text"] {
  color: red;
}
input[type="password"] {
  color: blue;
}
